.carousel-inner img {
    
    width: 100%;
    height: 20%;
    padding-right: 10px;
  }

.jumbotron {
    background-color: pink !important;
    margin-top: 50px;
}
.btn { color: blanchedalmond

}
footer{
    padding: 10px 10px 0 10px ;
        background-color:pink; 
        margin-bottom: 0px ;
        margin-top: 10px;
}
.card-hotel { 
    Flex: 1 200px;
    margin-top: 10px;
    
}
.btn-info {
    width: 100%;
    border-radius: 0px; 
}

.footer-adress-icon {
padding-right: 10px;

}

.tab-content {
    padding-top: 10px;
}