$pink:#f1aaf2;
$violet:#e39ad7;
$green:#70e0ca;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom:$bottom; 
}

.jumbotron {
    background-color:$pink !important;
    @include margenes(50px,50px);
}
.btn { color: blanchedalmond

}
footer{
    padding: 10px 10px 0 10px ;
        background-color:$violet; 
        @include margenes(10px,0px);
}
.card-hotel { 
    Flex: 1 200px;
    @include margenes(10px,0px);
    
}
.btn-info {
    width: 100%;
    border-radius: 0px; 
    color:$green;
}

.footer-adress-icon {
padding-right: 10px;

}

.tab-content {
    padding-top: 10px;
}