.jumbotron {
  background-color: #f1aaf2 !important;
  margin-top: 50px;
  margin-bottom: 50px; }

.btn {
  color: blanchedalmond; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e39ad7;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  Flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-info {
  width: 100%;
  border-radius: 0px;
  color: #70e0ca; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
